build
node_modules

# Playwright output
playwright-report
test-results
blob-report

# Package Managers
package-lock.json
pnpm-lock.yaml
yarn.lock
bun.lock
bun.lockb

# Miscellaneous
/static/
.env
.env.*
